@page
@model miWeb.App.Frontend.Pages.EliminarProvedoresModel
@{
}
<h1> Eliminar Proveedores De Servicios</h1>
<table class="table">
    <tr>
        <td>@Model.proveedoresDeServicios.nombre</td>
        <td>@Model.proveedoresDeServicios.apellido</td>
        <td>@Model.proveedoresDeServicios.edad</td>
        <td>@Model.proveedoresDeServicios.estadoCovid</td>
        <td>@Model.proveedoresDeServicios.servicioRealizado</td>
    </tr>
</table>
<form method="post">
    <input type="hidden" asp-for="proveedoresDeServicios.id">
    <button type="submit" class="btn btn-primary">Confirmar Eliminar</button>
</form>