@page
@model Ofi.App.Frontend.Pages.ListModel
@{
}
<h1> Lista Personal De Aseo</h1>
<table class="table">
    @foreach (var item in Model.personalDeAseos)
    {
        <tr>
            <td> @item.id</td>
            <td> @item.nombre</td>
            <td> @item.apellido</td>
            <td> @item.edad</td>
            <td> @item.estadoCovid</td>
            <td> @item.id</td>
            <td> @item.turno</td>

        </tr>
    }
   
</table>
    